<div class="toolbar row">
  <div class="col-md-6">
    <div class="btn-group">
      <button class="btn btn-default" (click)="addFolder()">
        <i class="fa fa-plus"></i>
        <i class="fa fa-folder-o"></i>
      </button>
      <button class="btn btn-default btn-file">
        <i class="fa fa-plus"></i>
        <i class="fa fa-file-o"></i>
        <input type="file" ng2FileSelect [uploader]="fileManagerUploader.uploader" (onCompleteAll)="onUpload()"
               (onCompleteItem)="onUploadItem()" multiple/>
      </button>
    </div>
    <dropdown *ngIf="configuration.isMultiSelection" [mainButton]="selectAllButton" [buttons]="selectButtonsList"
              (onClick)="onSelectDropdownClick($event)"></dropdown>
    <div class="btn-group">
      <button class="btn btn-default" (click)="onRefreshFilesList()">
        <i class="fa fa-refresh"></i>
      </button>
    </div>
    <!--<div class="btn-group">-->
    <!--<button class="btn btn-danger" [disabled]="numberOfSelectedItems == 0" mwlConfirm-->
    <!--[title]="'Remove selection'"-->
    <!--[message]="getRemoveMessage()" [appendToBody]="true" [confirmText]="'Yes'" [cancelText]="'No'"-->
    <!--placement="bottom" (confirm)="onDeleteSelection()">-->
    <!--<i class="fa fa-trash-o"></i>-->
    <!--</button>-->
    <!--</div>-->
  </div>
  <div class="col-md-3">
    <div class="btn-group">
      <button *ngFor="let type of typeFilterList" class="btn btn-default" [ngClass]="{'active': type === selectedType}"
              (click)="setFilterType(type)">
        <i class="{{type.iconCls}}"></i>
      </button>
    </div>
  </div>
  <div class="col-md-3">
    <div class="input-group">
      <input [formControl]="searchField" type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
                <button (click)="searchField.reset('')" class="btn btn-default" type="button">
                    <i class="fa fa-times"></i>
                </button>
            </span>
    </div>
  </div>
</div>
