<div *ngIf="configuration.isMultiSelection" class="file-selection-input">
  <i class="fa fa-2x checked fa-check-square-o" (click)="unSelectFile()"></i>
  <i class="fa fa-2x unchecked fa-square-o" (click)="selectFile()"></i>
</div>
<div class="img-rounded file-img" [ngClass]="{'file-img-symbol': !file.isImage()}"
     [style.background-image]="'url(' + file.thumbnailUrl + ')'"></div>
<span class="file-name">{{file.name}}</span>
<div class="file-menu">
  <button mwlConfirmationPopover [title]="removeTitle" [message]="getRemoveMessage(file)" [appendToBody]="true"
          [confirmText]="'Yes'" [cancelText]="'No'" placement="bottom" (confirm)="deleteFile(file)"
          class="btn btn-danger btn-icon">
    <i class="fa fa-trash"></i>
  </button>
  <button (click)="openPreview()" class="btn btn-default btn-icon">
    <i class="fa fa-search"></i>
  </button>
  <button (click)="openCrop()" class="btn btn-default btn-icon">
    <i class="fa fa-crop"></i>
  </button>
</div>
