<div *ngIf="configuration.isMultiSelection" class="file-selection-input">
  <i class="fa fa-2x checked fa-check-square-o" (click)="unSelectFile()"></i>
  <i class="fa fa-2x unchecked fa-square-o" (click)="selectFile()"></i>
</div>
<div class="img-rounded file-img" [ngClass]="{'file-img-symbol': !file.isImage()}"
     [style.background-image]="'url(' + file.thumbnailUrl + ')'"></div>
<span class="file-name">{{file.name}}</span>
<div class="file-menu">
  <div class="btn-group btn-group-sm">
    <button mwlConfirmationPopover [title]="removeTitle" [message]="getRemoveMessage(file)" [appendToBody]="true"
            [confirmText]="'Yes'" [cancelText]="'No'" placement="bottom" (confirm)="deleteFile($event, file)"
            class="btn btn-sm btn-danger btn-icon">
      <i class="fa fa-trash"></i>
    </button>
    <button (click)="openPreview($event, file)" class="btn btn-sm btn-default btn-icon">
      <i class="fa fa-search"></i>
    </button>
    <button (click)="openCrop($event, file)" class="btn btn-sm btn-default btn-icon">
      <i class="fa fa-crop"></i>
    </button>
    <button (click)="chooseFile($event, file)" class="btn btn-sm btn-primary btn-icon">
      <i class="fa fa-image"></i>
    </button>
  </div>
</div>
