<div class="filemanager-container">
  <div class="fm-header">
    <toolbar
      #toolbar
      [currentFolderId]="currentSelectedFolderId"
      [selectedFiles]="selectedFiles$ | async"
      (onAddFolderClick)="onAddFolder($event)"
      (onUpload)="onUpload($event)"
      (onMenuButtonClick)="onMenuButtonClick($event)"
    ></toolbar>
  </div>
  <div class="fm-main-box">
    <rign-tree class="folders-box" [treeModel]="treeModel"></rign-tree>
    <ri-files-list class="files-box" [files]="filteredFiles$ | async"
                   [selectedFiles]="selectedFiles$ | async"
                (onPreviewFile)="onPreviewFile($event)"
                (onCropFile)="onOpenCropFileEditor($event)"
                (onSelectFile)="onSelectFile($event)"
    ></ri-files-list>
  </div>
  <div *ngIf="isPreviewMode || isCropMode" class="backdrop">
    <div class="modal-view">
      <div class="modal-close">
        <i class="fa fa-2x fa-times" (click)="closeModal()"></i>
      </div>
      <ri-file-preview *ngIf="isPreviewMode" [files]="filteredFiles$ | async" [file]="currentSelectedFile"></ri-file-preview>
      <crop-image *ngIf="isCropMode" [file]="currentSelectedFile"></crop-image>
    </div>
  </div>
  <simple-notifications [options]="notificationOptions"></simple-notifications>
</div>
